.modal-container{
    animation: showModal 0.5s ease-in-out;
}

.activeMovePage{
    border: 1px solid #da601a;
    border-radius: 5px;
}


@keyframes showModal {
    0% {
        opacity: 0;
        transform: translateY(-100px);
    }
    100% {
        opacity: 1;
        transform: translateY(0);
    }
}

@keyframes hideModal {
    0% {
        opacity: 1;
        transform: translateY(0);
    }
    100% {
        opacity: 0;
        transform: translateY(-100px);
    }
}